<html>
  <head>
      <title>Django Girls blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
      <div>
          <h1>Django Girls/PyCon Namibia Blog by Cherley Haingura</h1>
      </div>
      {% for post in Posts %}
          <div>
              <p>published: {{ Post.published_date }}</p>
              <h1><a href="">{{ Post.title }}</a></h1>
              <p>{{ Post.text|linebreaksbr }}</p>
          </div>
      {% endfor %}
    </body>
</html>
